<div class="jumbotron">
  <div class="container">
<h1><%= @user.name %></h1>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<canvas id="myid" class="CoolClock::100::<%=Time.zone.formatted_offset%>" style="height: 300px; width: 300px;"></canvas>

<div class="time-rect-container">
   <%= render 'time_portion' %>
 </div>

<a class="btn btn-primary btn-default" href= <%= edit_user_path %> role="button">Edit</a>
  </div>
</div>

